<div *ngIf="candidates.length > 0" class="ml-72 p-8">
    <h3 class="text-2xl font-bold text-center">Gestion des Candidats</h3>
  
    <div class="bg-white p-6 rounded-lg shadow-lg">
      <div class="flex items-center justify-between mb-4">
        <h4 class="text-lg font-semibold">Liste des candidats</h4>
  
        <!-- Boutons -->
        <div class="flex space-x-2">
          <button (click)="deleteSelectedCandidate()" class="flex items-center justify-center w-10 h-10 bg-white text-red-500 rounded-md shadow-md hover:bg-red-100 transition duration-300">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M3 6h18"></path>
              <path d="M8 6v14"></path>
              <path d="M16 6v14"></path>
              <path d="M5 6h14l-1 14H6L5 6z"></path>
              <path d="M9 6V4a1 1 0 011-1h4a1 1 0 011 1v2"></path>
            </svg>
          </button>
  
          <a href="/addcandidate" class="flex items-center justify-center w-10 h-10 bg-white text-green-800 border border-green-800 shadow-md rounded-md hover:bg-green-100 transition duration-300 text-2xl font-bold">
            +
          </a>
        </div>
      </div>
  
      <table class="w-full border-collapse border border-gray-200">
        <thead>
          <tr class="bg-gray-100">
            <th class="border px-4 py-2"></th>
            <th class="text-lg border px-4 py-2">Prénom</th>
            <th class="border px-4 py-2">Nom</th>
            <th class="border px-4 py-2">Email</th>
            <th class="border px-4 py-2">Date de Naissance</th>
            <th class="border px-4 py-2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let candidate of candidates; trackBy: trackByFn">
            <td class="border px-4 py-2 text-center">
              <input type="radio" name="selectedCandidate" [value]="candidate.id" [(ngModel)]="selectedCandidateId" (change)="selectCandidate(candidate)">
            </td>
            <td class="border px-4 py-2">{{ candidate.firstName }}</td>
            <td class="border px-4 py-2">{{ candidate.lastName }}</td>
            <td class="border px-4 py-2">{{ candidate.email }}</td>
            <td class="border px-4 py-2">{{ candidate.birthDate | date  }}</td>
            <td class="border px-4 py-2 flex space-x-2">
              <a [routerLink]="['/updatecandidate', candidate.id]" class="bg-yellow-500 text-white px-2 py-1 rounded">Modifier</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  