<div class="ml-72 p-8">
  <div class="bg-white rounded-2xl shadow-xl p-8 w-full max-w-5xl">
    <form #applicationForm="ngForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">

      <div class="flex items-center justify-between mb-6">
        <h6 class="text-sm font-semibold text-gray-800">Ajouter une Candidature</h6>
        <div class="flex space-x-2">
          <button type="submit" class="bg-green-900 text-white p-2 rounded hover:bg-green-900 transition shadow">
            <svg xmlns="http://www.w3.org/2000/svg" 
                 fill="currentColor" viewBox="0 0 24 24" 
                 class="w-5 h-5">
              <path d="M17 3H5a2 2 0 00-2 2v14a2 2 0 002 2h14a1 1 0 001-1V7.41a1 1 0 00-.29-.7l-3.42-3.42A1 1 0 0017 3zm0 2l3 3h-3V5zM12 19a2 2 0 110-4 2 2 0 010 4zm-4-6V5h8v8H8z"/>
            </svg>
          </button>
          <button type="button" (click)="goBack()" 
                  class="bg-gray-100 border border-gray-300 rounded-full p-2 hover:bg-gray-200 transition shadow">
            <svg xmlns="http://www.w3.org/2000/svg" 
                 viewBox="0 0 24 24" fill="currentColor" 
                 class="w-6 h-6 text-gray-700">
              <path d="M10 19l-7-7 7-7v4h6a4 4 0 014 4v1a1 1 0 01-1 1h-1v-2a2 2 0 00-2-2h-6v4z" />
            </svg>
          </button>
        </div>
      </div>

      <label class="block mb-2 font-medium text-gray-700">CV (PDF):</label>
      <input type="file" (change)="onCvSelected($event)" name="cvFile" accept=".pdf" 
             class="w-full border border-gray-300 rounded px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500" required>

      <label class="block mt-4 mb-2 font-medium text-gray-700">Photo:</label>
      <input type="file" (change)="onPhotoSelected($event)" name="photo" accept="image/*" 
             class="w-full border border-gray-300 rounded px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500" required>

    </form>
  </div>
</div>
