  <!-- Main Content -->
  <div class="flex-1 flex flex-col ml-40">
    <!-- Navbar -->
    <header class="bg-white shadow-md p-3 flex justify-between items-center">
        <div class="relative w-full max-w-md" style="margin-left: 90px;">
<p class="text-lg font-medium mt-8">Gestion des recrutements</p>

        </div>

        <div class="flex items-center space-x-5">
            <button class="w-8 h-8 bg-gray-200 rounded-full hover:bg-gray-300 transition-all">
                <span class="material-icons">notifications</span>
            </button>
             <!-- Profile Image -->
             <div
             class="w-8 h-8 bg-gray-300 rounded-full overflow-hidden cursor-pointer flex items-center justify-center"
             (click)="toggleDropdown()"
           >
             <ng-container *ngIf="hasValidPhoto; else defaultIcon">
               <img 
                 [src]="getUserPhoto()" 
                 alt="Profile" 
                 class="w-8 h-8 object-cover" 
                 (error)="handleImageError()"
               />
             </ng-container>
           
             <ng-template #defaultIcon>
               <span class="material-icons text-white text-lg">account_circle</span>
             </ng-template>
           </div>
           

<!-- Username -->
<span class="username mt-1 text-xs font-medium text-gray-700 uppercase">
{{ getUser().firstName }} {{ getUser().lastName }}
</span>

<!-- Dropdown Menu -->
<div
*ngIf="isDropdownOpen"
class="absolute top-10 right-0 bg-white border border-gray-200 rounded-lg shadow-lg"
>
<ul class="py-2">
    <li>
        <button
        class="w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 flex items-center space-x-2"
        (click)="goProfile()"
    >
        <!-- Material Icons Logout Icon -->
        <span class="material-icons text-gray-500">account_circle</span>
        <span>Profile</span>
    </button>
    </li>
    <li>
      <button
      class="w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 flex items-center space-x-2"
      (click)="logout()"
  >
      <!-- Material Icons Logout Icon -->
      <span class="material-icons text-gray-500">logout</span>
      <span>Deconnexion</span>
  </button>
  </li>

</ul>
</div>         
        </div>
    </header>