<div class="ml-72 p-8">
  <div class="bg-white p-6 rounded-lg shadow-lg">
    <h6 class="text-sm font-semibold text-gray-800">Offres d'Emploi</h6>

    <!-- Ligne avec search à gauche et les boutons à droite -->
    <div class="flex justify-between items-center mb-4">
      <!-- Search Input -->
      <div class="relative w-full max-w-xs">
        <input
          type="text"
          [(ngModel)]="searchLocation"
          (input)="filterByLocation()"
          placeholder="Filtrer par localisation"
          class="pl-10 pr-4 py-2 w-full "
        />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 absolute left-3 top-2.5 text-gray-400"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
          />
        </svg>
      </div>

      <!-- Boutons delete + add -->
      <div class="flex items-center space-x-2">
        <button *ngIf="isAdmin() || isRH()" (click)="deleteSelectedJobOffer()" class="flex items-center justify-center w-10 h-10 bg-white text-red-500 rounded-md shadow-md hover:bg-red-100 transition duration-300">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path d="M3 6h18"></path>
            <path d="M8 6v14"></path>
            <path d="M16 6v14"></path>
            <path d="M5 6h14l-1 14H6L5 6z"></path>
            <path d="M9 6V4a1 1 0 011-1h4a1 1 0 011 1v2"></path>
          </svg>
        </button>

        <a *ngIf="isAdmin() || isRH()" href="/addjoboffer" class="flex items-center justify-center w-10 h-10 bg-white text-green-800 border border-green-800 shadow-md rounded-md hover:bg-green-100 transition duration-300 text-2xl font-bold">
          +
        </a>
      </div>
    </div>

  <!-- Job Offers Grid -->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-4">
    <div *ngFor="let jobOffer of filteredJobOffers" class="bg-white p-6 rounded-lg shadow-lg hover:shadow-xl transition duration-300">
      <div class="flex items-center justify-between">
        <!-- Radio button for selection -->
        <input *ngIf="isAdmin() || isRH()" type="radio" name="selectedJobOffer" [value]="jobOffer.id" [(ngModel)]="selectedJobOfferId">
      </div>
      
      <h6 class="text-xl font-semibold mb-2 text-blue-900">{{ jobOffer.title }}</h6>
    <p class="text-gray-600 text-sm mb-2"><strong>Description :</strong> {{ jobOffer.description }}</p>
    <p class="text-gray-600 text-sm mb-2"><strong>Localisation :</strong> {{ jobOffer.location }}</p>
    <p class="text-gray-600 text-sm mb-2"><strong>Exigences :</strong> {{ jobOffer.requirements }}</p>
    <p class="text-gray-600 text-sm mb-2"><strong>Compétences techniques :</strong> {{ jobOffer.technicalSkills }}</p>
    <p class="text-gray-600 text-sm mb-2"><strong>Expérience professionnelle :</strong> {{ jobOffer.workExperience }}</p>
    <p class="text-gray-600 text-sm mb-2"><strong>Formation académique :</strong> {{ jobOffer.academicBackground }}</p>
    <p class="text-gray-600 text-sm mb-2"><strong>Langues maîtrisées :</strong> {{ jobOffer.languagesSpoken }}</p>
    <p class="text-gray-500 text-xs mb-3"><strong>Publié le :</strong> {{ jobOffer.publicationDate | date }}</p>


      <!-- Modifier Link -->
      <a *ngIf="isCandidate()" [routerLink]="['/addapplication', jobOffer.id]" class="text-blue-500 hover:text-blue-700 font-medium" >Postuler</a>
  <!-- Bouton pour voir les top candidatures -->
  <a *ngIf="isAdmin() || isRH()" [routerLink]="['/topapplication', jobOffer.id]" class="text-blue-500 hover:text-blue-700 font-medium"> Analyser les candidatures </a>
  


    </div>
 
  </div>
  </div>
</div>
