<div class="container mx-auto p-4  ml-72">
  <h1 class="text-3xl font-bold text-center mb-6">Offres d'emploi</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <div *ngFor="let jobOffer of jobOffers" class="bg-white p-6 rounded-lg shadow-md">
          <h2 class="text-xl font-semibold mb-2">{{ jobOffer.Title }}</h2>
          <p class="text-gray-600 mb-3"><strong>Description :</strong> {{ jobOffer.description }}</p>
          <p class="text-gray-600 mb-3"><strong>Localisation :</strong> {{ jobOffer.location }}</p>
          <p class="text-gray-600 mb-3"><strong>Exigences :</strong> {{ jobOffer.requirements }}</p>
          <p class="text-gray-500 text-sm mb-3"><strong>Publié le :</strong> {{ jobOffer.publicationDate | date }}</p>
          <div class="mt-4">
              <a routerLink="/joboffers" class="text-blue-500 hover:text-blue-700 mr-4">Voir les détails</a>
              <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700">
                  Postuler
              </button>
          </div>
      </div>
  </div>
</div>