<div class="ml-72 p-8">
<div class="bg-white p-8 rounded-3xl shadow-2xl space-y-10 overflow-hidden">

    <!-- Titre -->
    <div class="text-center">
      <h5 class="text-xs font-extrabold text-gray-800 mb-2">Tableau de bord RH</h5>
      <p class="text-gray-500 text-sm">Suivi du recrutement et des candidatures</p>
    </div>

    <!-- Statistiques -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <div class="rounded-2xl p-6 bg-gradient-to-br from-blue-100 to-blue-300 text-blue-900 shadow hover:shadow-lg hover:scale-105 transition-all duration-300">
        <p class="uppercase text-sm font-medium tracking-wide text-blue-700">Offres Actives</p>
        <p class="text-5xl font-semibold mt-2">{{ totalActiveOffers }}</p>
      </div>

      <div class="bg-gradient-to-br from-purple-100 to-purple-300 text-purple-900 rounded-2xl p-6 shadow hover:shadow-lg hover:scale-105 transition-all duration-300">
        <p class=" text-sm font-medium tracking-wide text-purple-700"> Candidatures Ce Mois</p>
        <p class="text-5xl font-semibold mt-2">{{ applicationsThisMonth }}</p>
      </div>

      <div class="bg-gradient-to-br from-pink-100 to-pink-300 text-pink-900 rounded-2xl p-6 shadow hover:shadow-lg hover:scale-105 transition-all duration-300">
        <p class=" text-sm font-medium tracking-wide text-pink-700">Candidatures En Attente</p>
        <p class="text-5xl font-semibold mt-2">{{ pendingApplications }}</p>
      </div>
    </div>

    <!-- Graphique -->
   <div class="bg-white rounded-3xl shadow-md p-6 h-[400px] mt-6">
      <h6 class="text-xs font-bold text-gray-700 mb-4">Répartition des Candidatures</h6>
      <div class="h-[320px] max-w-full max-h-full">
        <canvas
          class="max-w-full max-h-full"
          baseChart
          [data]="pieChartData"
          [options]="pieChartOptions"
          chartType="pie">
        </canvas>
      </div>
    </div>

  </div>
</div>
